@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Yashie_Demo';
  src: url('../../public/Yashie_Demo.ttf') format('truetype');
}

.font-Yashie_Demo{
  font-family: "Yashie_Demo";
  font-weight: 400;
}
.font-Yashie_Demoheader{
  font-family: "Yashie_Demo";
  font-weight: 1000;
}
html, body {
  overflow-x: hidden;
} 
/* up is for mobile optimisation white screen issue fixed */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
